<div class="page-header">
  <h1>Following #<%= @following.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Follower</dt>
  <dd><%= @following.follower_id %></dd>

  <dt>Leader</dt>
  <dd><%= @following.leader_id %></dd>

</dl>
