          <li class="media">
<!--        <a class="pull-left" href="/users/<%= comment.user.id %>">
              <img class="media-object" src="<%= comment.user.avatar_url %>">
            </a> -->
            <%= link_to(image_tag(comment.user.avatar_url, :class => "media-object"), "/users/#{comment.user.id}") %>
            <div class="media-body">
              <p class="lead"><%= comment.content %></p>
            </div>
          </li>
