<!-- Optional Homework: Make this user profile page look good. Include the user's own photos. -->

<!-- Homework: Add a "Follow" button to this user's profile. Make it work. -->

<div class="page-header">
  <h1>User #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Username</dt>
  <dd><%= @user.username %></dd>

  <dt>Avatar url</dt>
  <dd><%= @user.avatar_url %></dd>

</dl>
