<div class="page-header">
  <h1>Favoriting #<%= @favoriting.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @favoriting.user_id %></dd>

  <dt>Photo</dt>
  <dd><%= @favoriting.photo_id %></dd>

</dl>
